<!doctype html>
<html>
<head>
    <title>iSweat | Workout Log</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Alegreya Sans SC' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
</head>
<body class="body-index">
<div class="container">

    <div class="jumbotron text-center">
        <h1>Workout Log</h1>
        <img src="https://img.buzzfeed.com/buzzfeed-static/static/2017-02/17/10/asset/buzzfeed-prod-fastlane-02/sub-buzz-22052-1487344698-2.png?downsize=800:*&output-format=auto&output-quality=auto" alt="Recycling Logo">

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
